/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/.idea
/laskarit/viikko2/Unicafe/Unicafe.iml
/CompanyCalculator/target
/CompanyCalculator/.idea
CompanyCalculator/ComapnyCalculator.iml
/CompanyCalculator/data.db